@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
   background-color: #E5E5E5;
}

strong{
    font-weight: 700;
}

.header{
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.logo{
    height: 53px;
    width: 75px; 
}

.participants-icon{
    height: 30px;
    width: 42px;
}

.content{
    margin-top: 100px;
    overflow-y: scroll;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;
    padding-left: 10px;
    word-break: break-word;
}

.room-status{
    background-color: #DCDCDC;
}

.public-message{
    background-color: #FFFFFF;
}

.private-message{
    background-color: #FFDEDE;
}

.footer{
    height: 80px;
    width: 100%;
    margin-top: 30px;
    background-color: #FFFFFF;
    box-shadow: -1px -8px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
}

input{
    border:none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    font-style: italic;
    outline: none;

}

.send-txt-button{
    height: 26px;
    width: 26px;
}